body {
    flex-direction: column; /* Acomoda los hijos en columna (si es necesario) */
    width: 100%;
 }

  
         /* Estilos del contenedor */
         .tables {
            display: flex;
            margin: 0px 100px 0px 100px;
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: nowrap; /* Para que las tablas se acomoden en una nueva línea en pantallas más pequeñas */
            justify-content: space-around; /* Espacio entre tablas */
        }

        /* Estilos para las tablas */
        table {
            border: 1px solid black;
            margin: 10px 40px;
            flex: 1;
            width: 30%; /* El ancho será un 30% del contenedor */
            min-width: 100px; /* El ancho mínimo de las tablas */
            border-collapse: collapse; /* Colapsa bordes */
        }

        /* Filas pares tendrán fondo gris */
        tr:nth-child(even) {
            background-color: #dadada; /* Gris claro */
        }

        /* Filas impares tendrán fondo blanco */
        tr:nth-child(odd) {
            background-color: white;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }

        .leyenda {
            text-align: center;
        }

        /* Media query para pantallas pequeñas */
        @media (max-width: 768px) {
            .tables {
                /*flex-wrap: wrap; /* Permitir que las tablas se apilen en pantallas pequeñas */
            }
            table {
                /*width: 100%; /* En pantallas pequeñas, las tablas ocuparán el 100% del contenedor */
            }
        }  