h1{
  font-family:sans-serif;
  width:400px;
  margin:35px auto;
  text-align:center;
  color:black;
}
p{
 padding: 15px;
}
table{
  width:890px;
  height: 350px;
  margin:0 auto;
  color:white;
  text-align:center;
}

.cabeceratabla{

  background-color:  #07566a9a;
  font-size: large;
  
}

.cabeceratabla td {
  padding: 15px; /* Espacio añadido entre las celdas de la cabecera */
  padding-bottom: 15px;
}
tr{
  cursor:pointer;
}
.destacado:hover{
  color: black;
  background-color: yellow;
}


body{
  background-color: rgb(214, 210, 210);
}

table tr{
  color:black;
  background-color:rgba(162, 162, 162, 0.242);;;
}





