h1{
  font-family:sans-serif;
  width:400px;
  margin:35px auto;
  text-align:center;
  color:black;
}
p{
  width:500px;
}
table{
  width:720px;
  margin:0 auto;
  color:white;
  text-align:center;
}

.cabeceratabla{

  background-color:  #07566a9a;
}
tr{
  cursor:pointer;
}
.destacado:hover{
  color: black;
  background-color: yellow;
}

body{
  background-color: rgb(214, 210, 210);
}

table tr{
  color:black;
  background-color:rgba(162, 162, 162, 0.242);;;
}



